<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Students</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RServlet</display-name>
    <servlet-name>RServlet</servlet-name>
    <servlet-class>com.server.RServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RServlet</servlet-name>
    <url-pattern>/RServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LServlet</display-name>
    <servlet-name>LServlet</servlet-name>
    <servlet-class>com.server.LServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LServlet</servlet-name>
    <url-pattern>/LServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>com.server.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionTest001</display-name>
    <servlet-name>SessionTest001</servlet-name>
    <servlet-class>com.server.SessionTest001</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionTest001</servlet-name>
    <url-pattern>/SessionTest001</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionTest002</display-name>
    <servlet-name>SessionTest002</servlet-name>
    <servlet-class>com.server.SessionTest002</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionTest002</servlet-name>
    <url-pattern>/SessionTest002</url-pattern>
  </servlet-mapping>
</web-app>